body {
    font-family: 'Inter', 'segoe UI', Roboto, Ariel, sans-serif;
    margin: 10;
    height: 100vh;
    font-size: 14px;
    line-height: 1.5;

}

h1 {
    text-align: center;
    font-size: 32px;
}

h2 {
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 18px;
    padding-bottom: 6px;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


h3 {
    font-size: 15px;
    margin-bottom: 1px;
}

hr {
    margin-top: 0;
    margin-bottom: 12px;
    border: none;
    border-top: 2px solid black;
}

.contact-links {
    list-style: disc;
    display: flex;
    gap: 15px;
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
}

.contact-links li {
    margin-left: 20px;
}

.edu-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.edu-date{
    font-size: 14px;
}

.resume {
    max-width: 850px;
    margin: 40px auto;
    padding: 40px;
    background: white;
}

p, span {
    font-size: 14px;
}

section {
    margin-bottom: 25px;
}

ul {
    padding-left: 18px;
}

li {
    margin-bottom: 6px;
    font-size: 14px;
}

@media print {
    body {
        background: white;
    }
}